h1{
    margin-left: 35%;
}
button{
    background-color: #ff99cc; 
    width: 150px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: color 0.3 ease;

}
button:hover{
    color: #ff0066;
}
table{
    margin-left: 22%;
}
td{
    font-size: 30px;
}
input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}