body{
     border: none;
    background-color: #d179fa; 
;
}
frame[name="mid_column"] {
    border: none;
    background-color: #d179fa; 
}
h1{
    margin-left: 27%;
    font-size: 50px;
}
h2 , a{
    color: #000000;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3 ease;
}

a:hover{
    color: #ff0066;
}